<div class="row justify-content-center my-5">
    <div class="col-4">
      <div class="card">
        <div class="card-body" *ngIf="!isConfirm">
          <form [formGroup] = "formEmail" >
            <div class="row">
              <div class="col mb-2">
                <label for="email" class="form-label">Email Address:</label>
                <input id="email" formControlName="email" type="email" class="form-control form-control-sm" >
                <div *ngIf="formEmail.controls['email'].invalid && (formEmail.controls['email'].dirty || formEmail.controls['email'].touched)" >
                  <label class="text-danger" *ngIf="formEmail.controls['email'].hasError('required')">
                    Email is Required!
                  </label>
                  <label class="text-danger" *ngIf="formEmail.controls['email'].hasError('email')">
                    Enter a valid email address!
                  </label>
                </div>                
              </div>
            </div>
            <div class="row" *ngIf="isError">
                <div class="col mb-2">
                    <label class="text-danger" >
                    {{error}}
                    </label>
                </div>
            </div>
            <div class="row">
              <div class="col d-grid">
                <button type="button" (click)="generateForgotPasswordCode()" class="btn btn-sm btn-success" [disabled]="formEmail.pristine || formEmail.invalid">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                  Forgot Password
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="card-body" *ngIf="isConfirm">
            <form [formGroup] = "formPassword" >
                <div class="row">
                    <div class="col mb-2">
                      <label for="code" class="form-label" >Code:</label>
                      <input id="code" formControlName="code" type="code" class="form-control form-control-sm" >
                      <div *ngIf="formPassword.controls['code'].invalid && (formPassword.controls['code'].dirty || formPassword.controls['code'].touched)" >
                        <label class="text-danger" *ngIf="formPassword.controls['code'].hasError('required')">
                           Code is Required!
                        </label>
                      </div>                
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                      <label for="password">Password:</label>
                      <div class="input-group input-group-sm">
                        <input id="password" formControlName="password" [type]="user.showPassword ? 'text' : 'password'" class="form-control form-control-sm" >
                        <button type="button" class="btn btn-outline-secondary" (click)="user.showPassword = !user.showPassword">
                          <i class="bi" [ngClass]="{'bi-eye-fill': !user.showPassword, 'bi-eye-slash-fill': user.showPassword}"></i>
                        </button>
                      </div>
                      <div *ngIf="formPassword.controls['password'].invalid && (formPassword.controls['password'].dirty || formPassword.controls['password'].touched)" >
                        <label class="col" [ngClass]="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                          <i class="material-icons">{{ formPassword.controls['password'].hasError('required') ||
                            formPassword.controls['password'].hasError('minlength') ? 'cancel' :
                            'check_circle' }}</i>
                          Must be at least 8 characters!
                        </label>
                        <label class="col" [ngClass]="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                          <i class="material-icons">{{ formPassword.controls['password'].hasError('required') ||
                            formPassword.controls['password'].hasError('hasNumber') ? 'cancel' :
                            'check_circle' }}</i>
                          Must contain at least 1 number!
                        </label>
                        <label class="col" [ngClass]="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                          <i class="material-icons">{{ formPassword.controls['password'].hasError('required') ||
                            formPassword.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                            'check_circle' }}</i>
                          Must contain at least 1 in Capital Case!
                        </label>
                        <label class="col" [ngClass]="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                          <i class="material-icons">{{ formPassword.controls['password'].hasError('required') ||
                            formPassword.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                            'check_circle' }}</i>
                          Must contain at least 1 Letter in Small Case!
                        </label>
                        <label class="col" [ngClass]="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                          <i class="material-icons">{{ formPassword.controls['password'].hasError('required') ||
                            formPassword.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                            'check_circle' }}</i>
                          Must contain at least 1 Special Character!
                        </label>
                      </div>                
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                      <label for="confirmPassword" class="form-label" >Confirm Password:</label>
                      <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control form-control-sm" >
                      <div *ngIf="formPassword.controls['confirmPassword'].invalid && (formPassword.controls['confirmPassword'].dirty || formPassword.controls['confirmPassword'].touched)" >
                        <label class="text-danger" *ngIf="formPassword.controls['confirmPassword'].hasError('required')">
                          Confirm Password is Required!
                        </label>
                        <label class="text-danger" *ngIf="formPassword.controls['confirmPassword'].hasError('NoPassswordMatch')">
                          Confirm Password do not match
                        </label>
                      </div>                
                    </div>
                </div>
                <div class="row" *ngIf="isError">
                    <div class="col mb-2">
                        <label class="text-danger" >
                        {{error}}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-grid">
                      <button type="button" (click)="confirmForgotPassword()" class="btn btn-sm btn-success" [disabled]="formPassword.pristine || formPassword.invalid" >
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                        Confirm
                      </button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>