<div class="density-chooser">
    <igx-buttongroup [values]="displayDensities" (selected)="selectDensity($event)"></igx-buttongroup>
</div>

<igx-input-group type="search" class="search">
    <igx-prefix>
        <igx-icon>search song</igx-icon>
    </igx-prefix>
    <input #search igxInput placeholder="Search Songs" [(ngModel)]="searchContact">
    <igx-suffix *ngIf="search.value.length > 0" (click)="searchContact = ''">
        <igx-icon>clear</igx-icon>
    </igx-suffix>
</igx-input-group>

<div class="list-sample">
    <igx-list [displayDensity]="$any('density')">
        <igx-list-item [isHeader]="true">Songs</igx-list-item>
        <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item *ngFor="let song of songs | igxFilter: filterContacts;">
            <igx-avatar igxListThumbnail [src]="song.photo" [roundShape]="true"></igx-avatar>
            <span igxListLineTitle>{{ song.songName }}</span>
            <span igxListLineSubTitle>{{ song.artistName }}</span>
            <igx-icon class="add">+</igx-icon>
            <igx-icon igxListAction [style.color]="song.isFavorite ? 'orange' : 'lightgray'" (click)="toggleFavorite(song)">star</igx-icon>
        </igx-list-item>
    </igx-list>
</div>





