<div class="list-sample">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile class="name" (click)="getSongByAlbum('100')">
            <img src="https://livesync-assets.s3.eu-west-2.amazonaws.com/todays.jpg" >
        </mat-grid-tile>
        <mat-grid-tile class="name" (click)="getSongByAlbum('100')">
            <img src="https://livesync-assets.s3.eu-west-2.amazonaws.com/music-connect.jfif">
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="4" rowHeight="4:3">
        <mat-grid-tile class="name" (click)="getSongByCategory('jazz')">
            <img style="height: 300px;" src="https://livesync-assets.s3.eu-west-2.amazonaws.com/jazzmusic.jpg">
        </mat-grid-tile>
        <mat-grid-tile class="name" (click)="getSongByCategory('hiphop')">
            <img style="height: 300px;" src="https://livesync-assets.s3.eu-west-2.amazonaws.com/hiphop.jpg">
        </mat-grid-tile>
        <mat-grid-tile class="name" (click)="getSongByCategory('pop')">
            <img style="height: 300px;" src="https://livesync-assets.s3.eu-west-2.amazonaws.com/pop.jpeg">
        </mat-grid-tile>
        <mat-grid-tile class="name" (click)="getSongByCategory('rock')">
            <img src="https://livesync-assets.s3.eu-west-2.amazonaws.com/rock.jpg">
        </mat-grid-tile>
    </mat-grid-list>
</div>





